.body-container {
    margin: 80px 10px 60px 10px
}

#user-nav-btn {
    width: 100%;
}

#user-nav-btn .icon {
    position: relative;
    float: left;
    margin-right: auto;
}

#user-nav-btn span:last-child {
    margin-right: 40px;
    margin-left: 20px;
}

#new-post-btn {
    margin-left: auto;
    position: relative;
    float: right;
    text-align: right;
}

.modal-card {
    align-self: flex-start;
    margin-top: 150px;
    width: 500px;
}

.card {
    border-radius: 4px 4px 0 0;
}
