<div class="modal" id="login-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Login</p>
            <button class="delete" aria-label="close" onclick="hideModal('login-modal')"></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="email" placeholder="Email" name="email" autocomplete="email">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="password" name="password" placeholder="Password" autocomplete="current-password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>
        </section>
        <footer class="modal-card-foot buttons is-right">
            <p class="control">
              <button class="button is-success is-outlined" onclick="login()">
                <span class="icon">
                  <i class="fas fa-sign-in-alt"></i>
                </span>
                <span>Login</span>
            </button>
            </p>
        </footer>
    </div>
</div>
