<nav class="navbar is-dark is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
        <h3 class="subtitle is-3 has-text-white-ter">{{ blogName }}</h3>
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
            {% if session.userId %}
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="button is-link navbar-link is-rounded is-outlined" id="user-nav-btn">
                      <span class="icon">
                        <i class="fas fa-user"></i>
                      </span>
                    <span> {{ session.screenName }} </span>
                  </a>
                  <div class="navbar-dropdown is-boxed">
                    {# <a class="navbar-item" href="/">
                        <span class="icon">
                          <i class="fas fa-user-circle"></i>
                        </span>
                      <span>My Profile</span>
                    </a> #}
                    <a class="navbar-item" href="/posts?screenName={{ session.screenName }}">
                        <span class="icon">
                          <i class="fas fa-newspaper"></i>
                        </span>
                      <span>My Posts</span>
                    </a>
                    {# <a class="navbar-item" href="/">
                        <span class="icon">
                          <i class="fas fa-comments"></i>
                        </span>
                      <span>My Comments</span>
                    </a> #}
                    <hr class="navbar-divider">
                    <a class="navbar-item" onclick="logout()">
                        <span class="icon">
                          <i class="fas fa-sign-out-alt"></i>
                        </span>
                      <span>Logout</span>
                    </a>
                  </div>
              </div>
            {% else %}
                <p class="control">
                  <a class="button is-link is-outlined is-rounded" onclick="showModal('register-modal')">
                    <span class="icon">
                      <i class="fas fa-user-plus"></i>
                    </span>
                    <span>
                      Register
                    </span>
                  </a>
                </p>
                <p class="control">
                  <a class="button is-success is-outlined is-rounded" onclick="showModal('login-modal')">
                    <span class="icon">
                      <i class="fas fa-sign-in-alt"></i>
                    </span>
                    <span>Login</span>
                  </a>
                </p>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>
