{% extends "index.njk" %}

{% block body %}
    <div class="columns">
        <div class="column is-three-quarters">Posts</div>

        <div class="column">Categories</div>
    </div>
{% endblock %}
