<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ blogName }}</title>
        <link rel="stylesheet" href="/core/fontawesome.min.css">
        <link rel="stylesheet" href="/core/bulma.min.css">
        <link rel="stylesheet" href="/core/main.css">
    </head>
    <body>
        {% block nav %}
            {% include "./partials/nav.njk" %}
        {% endblock %}

            <div class="container is-fluid body-container">
                {% block body %}
                    {% include "posts.njk" %}
                {% endblock %}

                {% block modals %}
                    {% include "./partials/login-modal.njk" %}
                    {% include "./partials/register-modal.njk" %}
                {% endblock %}
            </div>

            {% block footer %}
                {% include "./partials/footer.njk" %}
            {% endblock %}
        <script src="/core/fontawesome.min.js" charset="utf-8"></script>
        <script src="/core/axios.min.js" charset="utf-8"></script>
        <script src="/core/moment.min.js" charset="utf-8"></script>
        <script src="/core/main.js" charset="utf-8"></script>
    </body>
</html>
