{% extends "index.njk" %}

{% block body %}
<div class="card" style="margin-bottom: 75px;">
    <header class="card-header has-background-light">
        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title" style="margin-bottom:2px;">
                        <span>{{ post.title }}</span>
                    </h1>
                    <nav class="level" style="margin-left:5px;">
                        <div class="level-left">
                            <div class="level-item">
                                <span class="icon is-left">
                                    <object style="border-radius:50%;width:24px;" data="/uploaded/{{ post.author }}.png" type="image/png">
                                      <img class="is-rounded" style="border-radius:50%;width:24px;" src="/core/images/avatar.png" alt="example">
                                    </object>
                                </span>
                                <span style="margin-left: 8px;">by: {{ post.author }} on {{ post.updatedAt | date('MMM D') }} at {{ post.updatedAt | date('LT')}}</span>
                                {% if post.author == session.screenName %}
                                <a class="icon is-small edit-icon" style="margin-left:10px;" onclick="location.href='/posts/edit?_id={{ post._id }}'">
                                    <i class="fas fa-edit" aria-hidden="true"></i>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </section>
    </header>
    <div class="card-content">
        <div class="content">
            {{ post.content }}
        </div>
    </div>
    <footer class="card-footer" style="flex-direction: column;">
        <div class="card-footer-item is-size-5" style="align-items: start; flex-direction:column; margin-bottom: 20px; margin-top: 10px;">Comments</div>
        <div style="margin-left: 20px; margin-right: 20px; margin-bottom: 20px;">
        {% for comment in comments %}
            <article class="media">
              <figure class="media-left">
                  <object style="border-radius:50%;width:64px;" data="/uploaded/{{ comment.author }}.png" type="image/png">
                    <img class="is-rounded" style="border-radius:50%;width:64px;" src="/core/images/avatar.png" alt="example">
                  </object>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    <span style="font-weight:700;">{{ comment.author }}</span>
                    <br>
                    <span>{{ comment.content }}</span>
                    <br>
                    {% if session.screenName == comment.author %}
                        <small><a onclick="editComment(this)" comment-id='{{ comment._id }}'>Edit</a> · <a onclick="deleteComment(this)" comment-id='{{ comment._id }}'>Delete</a> <span>· {{ comment.updatedAt | date('LLL') }}</span></small>
                    {% else %}
                        <small> · {{ comment.updatedAt | date('LLL') }}</small>
                    {% endif %}
                  </p>
                </div>
              </div>
            </article>
        {% endfor %}
  {% if session.screenName %}
  <article class="media">
    <figure class="media-left">
        <object style="border-radius:50%;width:64px;" data="/uploaded/{{ session.screenName }}.png" type="image/png">
          <img class="is-rounded" style="border-radius:50%;width:64px;" src="/core/images/avatar.png" alt="example">
        </object>
    </figure>
      <div class="media-content" id="add-comment">
        <div class="field">
          <p class="control">
              <input type="hidden" name="author" value="{{ session.screenName }}">
              <input type="hidden" name="postId" value="{{ post._id }}">
            <textarea class="textarea" name="content" placeholder="Add a comment..."></textarea>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <button class="button" onclick="addComment()">Post comment</button>
          </p>
        </div>
      </div>
      </article>
  {% endif %}
</div>
    </footer>
</div>
{% endblock %}
