{% block body %}
    <div class="columns">
        <div class="column is-four-fifths">
            <div id="posts" class="columns is-multiline">
                {% for post in posts %}
                <div class="column is-half">
                    <div class="card">
                        <header class="card-header has-background-light">
                            <section class="hero">
                                <div class="hero-body">
                                    <div class="container">
                                        <h1 class="title" style="margin-bottom:2px;">
                                            {{ post.title }}
                                        </h1>
                                        <nav class="level" style="margin-left:5px;">
                                            <div class="level-left">
                                                <div class="level-item">
                                                    <span class="icon is-left">
                                                        <object style="border-radius:50%;width:24px;" data="/uploaded/{{ post.author }}.png" type="image/png">
                                                          <img class="is-rounded" style="border-radius:50%;width:24px;" src="/core/images/avatar.png" alt="example">
                                                        </object>
                                                    </span>
                                                    <span style="margin-left: 8px;">by: {{ post.author }} on {{ post.updatedAt | date('MMM D') }} at {{ post.updatedAt | date('LT')}}</span>
                                                </div>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            </section>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                {{ post.content | truncate(50, true, "...") }}
                            </div>
                        </div>
                        <footer class="card-footer">
                            {% if session.screenName == post.author %}
                                <a href="/posts/edit?_id={{post._id}}" class="card-footer-item">Edit</a>
                            {% endif %}
                            <a href="/posts?_id={{post._id}}" class="card-footer-item">View</a>
                        </footer>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>






        <div class="column">
            <nav class="panel">
                <p class="panel-heading">
                    Search for a Post
                </p>
                <div class="panel-block">
                    <p class="control has-icons-left">
                        <input id="posts-search" class="input is-small" type="text" placeholder="search" current-user='{{ session.screenName }}'>
                        <span class="icon is-small is-left">
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </span>
                    </p>
                </div>
                <div class="panel-block">
                    <button class="button is-link is-outlined is-fullwidth" onclick="location.reload()">
                        reset
                    </button>
                </div>
            </nav>
        </div>
    </div>
{% endblock %}
