{% extends "index.njk" %}

{% block body %}
{% if session.userId %}
<div class="card">
    <section class="hero is-light">
    <div class="hero-body">
    <div class="container">
    <h1 class="title">
    My Profile
    </h1>
    </div>
    </div>
    </section>
    <div class="columns">
        <div class="column is-3">
            <figure class="image is-128x128" style="margin: 40px auto 20px auto;">
              <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
            </figure>
            <form id="avatar-upload" action="/users/profile/upload?_id={{ session.userId }}" enctype="multipart/form-data" method="post">
            <div class="file is-centered is-info is-small" style="margin-bottom:20px;">
              <label class="file-label">
                <input class="file-input" type="file" name="avatar" onchange="document.getElementById('avatar-upload').submit();">
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Upload
                  </span>
                </span>
              </label>
            </div>
            </form>
        </div>
        <div class="column">
            <nav class="panel" id="user-activity-panel" style="margin:50px 40px 20px 40px;">
            <p class="panel-heading">
            Recent Activity
            </p>
            <div class="panel-block" style="padding-top:20px;padding-bottom:20px;">
                s
            </div>

            </nav>
        </div>
    </div>
</div>
{% else %}
    <p>You are not currently logged in!</p>
{% endif %}

{% endblock %}
