.body-container {
    margin: 80px 10px 60px 10px
}

#user-nav-btn {
    width: 100%;
}

#user-nav-btn .icon {
    position: relative;
    float: left;
    margin-right: auto;
}

#user-nav-btn span:last-child {
    margin-right: 48px;
    margin-left: 30px;
}

#footer-nav-btn {
    margin-left: auto;
    position: relative;
    float: right;
    text-align: right;
}

.modal-card {
    align-self: flex-start;
    margin-top: 150px;
    width: 500px;
}

.card {
    border-radius: 4px 4px 0 0;
}

.edit-icon:hover {
    color: blue;
}
.edit-icon {
    color: black;
}
.panel {
    padding-bottom: 15px;
}

.table td {
    border: none;
}

.upload-btn {
    display: flex;
    margin-left: 36%;
    margin-right: 36%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.button.is-success.is-outlined {
  background-color: transparent;
  border-color: #9bddb5;
  color: #9bddb5;
}

.button.is-link,
.file-cta {
  background-color: #9bb7dd;
  border-color: transparent;
  color: #3B3B3B;
}

.button.is-danger.is-outlined {
  background-color: transparent;
  border-color: #dd9b9b;
  color: #dd9b9b;
}

.button.is-danger.is-outlined:hover, .button.is-danger.is-outlined:focus {
  background-color: #dd9b9b;
  border-color: #dd9b9b;
  color: #3B3B3B;
}

.button.is-link:hover, .button.is-link.is-hovered {
  background-color: #9bb7dd;
  border-color: transparent;
  color: #3B3B3B;
}

.button.is-success.is-outlined:hover, .button.is-success.is-outlined:focus {
  background-color: #9bddb5;
  border-color: #9bddb5;
  color: #3B3B3B;
}

.button.is-link.is-outlined {
  background-color: transparent;
  border-color: #9bb7dd;
  color: #9bb7dd;
}

.button.is-link.is-outlined:hover, .button.is-success.is-outlined:focus {
  background-color: #9bb7dd;
  border-color: #9bb7dd;
  color: #3B3B3B;
}

.modal-card-head,
.modal-card-body,
.modal-card-foot,
.modal-card-body input
 {
    background-color: #363636;
    border-style: none;
}

.modal-card-title,
.modal-card-body input,
.modal-card-body input::placeholder,
.modal-card-body input:focus
{
    color: #fff;
}

.modal-card-body input {
    box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
}

input.is-danger {
  box-shadow: 0 0 0 0.125em rgba(255, 56, 96, 0.25);
}

.panel-heading {
    background-color: rgba(76, 76, 76, 0.25);
}
